html, body {
    /* min-height: 100%; */
    height: 95%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color: "indigo-100";
    background-color:#f8f8f8;
    background-color: #8a9597;
    
    

  }
  
  *{ /*limpia los estilos por defecto*/
    box-sizing: border-box; /*ajusta el tamaño de la pantalla*/
    padding: 0;
    margin: 0;  
    /* --col: #DF746D; */
    
    
  }



